<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello AngularJS</title>
<!-- <link href="css/angular-bootstrap.css" rel="stylesheet"> -->
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
	rel="stylesheet" type="text/css" />

<!-- <body ng-app="hello"> -->
<body>
	<p th:text="'Hello, ' + ${name} + '!'" />

	<table>
		<tr th:each="item : ${data}">
			<td th:text="${item.name}">1</td>
		</tr>
	</table>

	<div id="visualization"></div>

	<script th:inline="javascript">
/*<![CDATA[*/

  	// DOM element where the Timeline will be attached
  	var container = document.getElementById('visualization');

//   	// Create a DataSet (allows two way data-binding)
   	var items = new vis.DataSet();
//   	var items = new vis.DataSet([
//     	{id: 1, content: 'item 1', start: '2013-04-20'},
//     	{id: 4, content: 'item 4', start: '2013-04-16', end: '2013-04-19'},
//   	]);

	var cnt = 1;
 	var dateList = [[${dates}]]
	var titleList = [[${titles}]]
    for (i = 0; i < dateList.length; i++) {
   		items.add({id: cnt++, content: titleList[i], start: dateList[i]});
    }
   	/*[/]*/
  
  	// Configuration for the Timeline
  	var options = {};

  	// Create a Timeline
  	var timeline = new vis.Timeline(container, items, options);
  
/*]]>*/
</script>

</body>
</html>